<!DOCTYPE html>

<html>
    <head>
        <title>Query 1</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{{ url_for('static', filename='img/cs.ico') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">

    </head>

    <body>

    <main role="main" class="container extra-bottom">
      <h1 class="mt-5">Query 1</h1>
      <p><mark>Print out the highest average rating given to a restaurant</mark></p>
    </main>
    
    <!-- Button Button -->
    <div class="container">
        <a href="{{url_for('homepage')}}"><button type="button" class="btn btn-outline-info btn-sm">Back</button></a>
    </div>

    <!--Restaurant Table-->
    <div class="container table-responsive">          
    <table class="table">
        <thead>
        <tr>
            <th class="restaurant">Rating</th>
            <th class="address">RestaurantName</th>
        </tr>
        </thead>

        <tbody>
        {% for restaurant in queried_restaurants_1 %}
            <tr>
                <td>{{restaurant.MaxRating}}</td>
                <td>{{restaurant.RestaurantName}}</td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
    </div>

    <footer class="footer">
      <div class="container">
            <p class="text-muted"><small>Team 53: The Fantastic Four</small></p>
      </div>
    </footer>
  </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script/modal.js') }}"></script>

</html>